@{
    ViewData["Title"] = "Home Page";
}
<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1>Ajude a manter a nossa cidade!</h1>
        <h2>Transforme sua cidade: a zeladoria pública é responsabilidade de todos nós!</h2>
        <a href="/Home/Login" class="btn-get-started scrollto">Registre aqui</a>
    </div>
</section>

<section id="about" class="about">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-11">
                <div class="row justify-content-end">

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box py-5">
                            <i class="bi bi-sign-stop-lights"></i>
                            <span data-purecounter-start="0" data-purecounter-end="65" class="purecounter">0</span>
                            <p>Vias públicas</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box py-5">
                            <i class="bi bi-lightbulb"></i>
                            <span data-purecounter-start="0" data-purecounter-end="85" class="purecounter">0</span>
                            <p>Iluminação pública</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box pb-5 pt-0 pt-lg-5">
                            <i class="bi bi-bus-front"></i>
                            <span data-purecounter-start="0" data-purecounter-end="27" class="purecounter">0</span>
                            <p>Transporte público</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box pb-5 pt-0 pt-lg-5">
                            <i class="bi bi-shield-lock"></i>
                            <span data-purecounter-start="0" data-purecounter-end="22" class="purecounter">0</span>
                            <p>Segurança</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- ======= Services Section ======= -->
<section id="services" class="services ">
    <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
            <h2>Últimos relatos</h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="icon-box" data-aos="fade-up">
                    <div class="icon"><i class="bi bi-lightbulb" style="color: #94c045;"></i></div>
                    <h4 class="title"><a href="">#6634499 - Iluminação pública</a></h4>
                    <p class="description">Gostaria de relatar que na rua nazaré do bairro gloria em frente a casa número 184 a luz do poste está queimada.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="icon-box" data-aos="fade-up">
                    <div class="icon"><i class="bi bi-bus-front" style="color: #94c045;"></i></div>
                    <h4 class="title"><a href="">#6634500 - Transporte público</a></h4>
                    <p class="description">A linha 10 necessita de mais onibus, estão igual sardinha em latada.</p>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-sign-stop-lights" style="color: #94c045;"></i></div>
                    <h4 class="title"><a href="">#6634501 - Vías públicas</a></h4>
                    <p class="description">A rua Imperatriz Leopoldina no bairro Velha está cheia de buracos, favor enviar um fiscal com urgência.</p>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-shield-lock" style="color:#94c045;"></i></div>
                    <h4 class="title"><a href="">#6634502 - Segurança pública</a></h4>
                    <p class="description">Gostaria de solicitar a presença da policia militar no final da aula do período noturno no colégio Shalom, grande quantidade de pessoas usando substancias ilícitas.</p>
                </div>
            </div>

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-sign-stop-lights" style="color: #94c045;"></i></div>
                    <h4 class="title"><a href="">#6634503 - Vías públicas </a></h4>
                    <p class="description">Hoje pela manhã, enquanto caminhava pela minha rua, me deparei com um buraco na calçada que me chamou a atenção. Ele estava aberto, com cerca de um metro de diâmetro e meio metro de profundidade, e expunha canos e fios elétricos. Na rua João Anastácio no bairro glória.  </p>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-sign-stop-lights" style="color: #94c045;"></i></div>
                    <h4 class="title"><a href="">#6634504 - Vías públicas</a></h4>
                    <p class="description">O número de carros tem aumentado muito nos últimos anos, mas a infraestrutura viária não acompanhou esse crescimento, o que tem gerado um trânsito cada vez mais congestionado e caótico.</p>
                </div>
            </div>
        </div>

    </div>
</section>
