@{
    ViewData["Title"] = "Login";
}

<div class="container p-xl-5 col-10 mt-5 w-75 rounded login-body-shadow">
    <div class="row align-items-stretch justify-content-center">
        <div class="col bg-white d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded-start-5">
            <img src="#" alt="" class="description-img">
        </div>
        <section id="work-process" class="work-process">
            <div class="container">
                <section class="vh-100">
                    <div class="container-fluid h-custom">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-md-9 col-lg-6 col-xl-5 mb-3">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
                            </div>

                            <form>
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label ms-2" for="username">Email</label>
                                    <input type="email" id="email" class="form-control form-control-lg" placeholder="Seu endereço de email" />
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-3">
                                    <label class="form-label ms-2" for="password">Senha</label>
                                    <input type="password" id="password" class="form-control form-control-lg" placeholder="Senha" />
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#!" class="text-body">Esqueceu sua senha?</a>
                                </div>

                                <div class="text-center text-lg-start mt-4 pt-2 d-flex flex-column align-items-center">
                                    <button id="loginButton" type="submit" onclick="login()" class="btn btn-lg text-white" style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: #94c045">
                                        Entrar
                                    </button>
                                    <p class="small fw-bold mt-2 pt-1 mb-0">
                                        Não tem uma conta? <a href="/Usuario/Create" class="link-success" style="color: #94c045">Registre-se</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>
