html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header {
    box-shadow: 1px -4px 15px #94c045;
}

.login-body-shadow {
    box-shadow: 0px 0px 17px 5px #94c045;
}